$primary-color: #000000;
$primary-color-light: #484848;
$primary-color-dark: #000000;

$secondary-color: #fafafa;
$secondary-color-light: #ffffff;
$secondary-color-dark: #c7c7c7;

$text-color-primary: black;

$accent-color-1: #deb841;
$accent-color-2: #9c3848;
