@import "../utilities/colors";
@import "../utilities/cardParent";
@import "../utilities/breakpoints";
.StandContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.StandCard {
  padding: 30px;
  border-top: 2px rgb(99, 99, 99) solid;
}

.StandGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1000px;
  max-height: 900px;
  @include tablet-breakpoint-down {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      & h3 {
        margin-block: 0;
      }
    }
  }
}

.StandImageWrapper {
  height: 100%;
  width: 100%;
  margin-right: 50px;
  @include tablet-breakpoint-down {
    margin-right: 0px;
  }
}

.StandPriceColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  @include tablet-breakpoint-down {
    margin-left: 0px;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    margin-bottom: 20px;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  th {
    background-color: $accent-color-1;
  }
  td {
    padding-left: 20px;
  }
}
