@import "../utilities/colors";
@import "../utilities/cardParent";

.StandContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.StandCard {
  padding: 30px;
  border-top: 2px rgb(99, 99, 99) solid;
}

.StandGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  max-width: 1000px;
}

.StandImageWrapper {
  height: 500px;
  width: 500px;
  margin-right: 50px;
  img {
    height: 500px;
    width: 500px;
    // object-fit: cover;
  }
}

.StandPriceColumn {
  margin-left: 50px;
  h3 {
    font-size: 2.5rem;
  }
  p {
    margin-bottom: 20px;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  th {
    background-color: $accent-color-1;
  }
  td {
    padding-left: 20px;
  }
}
